
<div class="container">


  <legend> Create issue</legend>
  <form>
    <div class="mb-3">
      <label for="txtTitle" class="form-label"> Title </label>
      <input type="text" name="title" [(ngModel)]="formdata.title" class="form-control" id="txtTitle" />
    </div>
    <div class="mb-3">
      <label for="txtDesc" class="form-label"> Description </label>
      <input type="text" name="desc" [(ngModel)]="formdata.description" class="form-control" id="txtDesc" />
    </div>
    <button type="button" (click)="create()" class="btn btn-primary"> Create </button>
  </form>
</div>
